/*
 icons: https://icon-icons.com/
*/

@import url('variables.css');
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
}

.header {
    background: var(--color-yellow);
    /* height: 350px; */
    padding: 10px 10px 10px 40px;
    margin-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #6F69AC;
}

.menu-icon {
    display: none;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
}

.header nav ul li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--color-purple);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 8px;
}

.header nav ul li a:hover {
    background: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
}

.active a {
    background: var(--color-pink);
    color: var(--color-white) !important;
    border-radius: 10px;
}

.header-info {
    display: flex;
    flex-direction: row;
}

.header-image {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
}

.header-text {
    width: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.text-one {
    color: var(--color-purple);
}

.text-two {
    color: var(--color-white);
}

.text-three {
    display: none;
}

.btn-contact {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 10px;
    height: 38px;
    padding: 10px 15px 10px 10px;
    text-transform: uppercase;
    font-size: 30px;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.section-categories {
    background: var(--color-gray);
    text-align: center;
    padding: 30px;
}

.section-categories .title-section h2 {
    color: var(--color-purple);
}

.title-section h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}


/* card services*/

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}

.card-service {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
}

.card-service:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    background: var(--color-pink);
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
}


/*team*/

.section-team {
    background: var(--color-white);
    text-align: center;
    padding: 30px;
}

.section-team .title-section h2 {
    color: var(--color-yellow);
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0;
}

.card-team {
    border-radius: 6px;
    width: 20%;
    height: 350px;
    text-align: center;
}

.card_img {
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--color-pink);
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: black;
}

footer {
    background: var(--color-pink);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

footer nav {
    padding-top: 50px;
}

footer nav ul {
    list-style: none;
    align-content: center;
    display: flex;
}

footer nav ul li {
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.social-media nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.card-footer {
    width: 50%;
}

.title-subscribe {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.title-subscribe h3 {
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.form-group input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

.form-group button {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-purple);
    background: var(--color-yellow);
    font-weight: bold;
    cursor: pointer;
}

.form-group button:hover {
    color: var(--color-yellow);
    background: var(--color-purple);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .icon {
        margin-left: 10px;
    }
    .menu-icon {
        display: block;
        width: 32px;
        margin-right: 15px;
    }
    .menu nav {
        background: var(--color-pink);
        position: absolute;
        top: 55px;
        left: 0px;
        width: 100%;
        display: none;
    }
    .header nav ul li a:hover {
        background: var(--color-pink);
        color: var(--color-white);
        border-radius: 10px;
    }
    .header-info {
        padding: 15px 15px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .header-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: right;
    }
    .header-text a {
        font-size: 24px;
    }
    .header-image {
        display: none;
    }
    .text {
        font-size: 20px;
    }
    .text-one {
        display: none;
    }
    .text-two {
        display: none;
    }
    .text-three {
        display: block;
        color: var(--color-white);
    }
    .btn-contact {
        width: 70%;
        margin: 20px auto;
    }
    /** services*/
    .title-section h2 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin: 0 auto;
    }
    .services {
        flex-direction: column;
        padding: 50px 0;
    }
    .card-service {
        width: 90%;
        margin: 10px auto;
    }
    /*Team*/
    .team {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 90px 0px 0px 0px;
    }
    .card-team {
        width: 100%;
        border-radius: 6px;
        text-align: center;
    }
    footer {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    .card-footer {
        width: 100%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .icon {
        margin-left: 10px;
    }
    .menu-icon {
        display: block;
        width: 32px;
        margin-right: 15px;
    }
    .menu nav {
        background: var(--color-pink);
        position: absolute;
        top: 55px;
        left: 0px;
        width: 100%;
        display: none;
    }
    .header nav ul li a:hover {
        background: var(--color-pink);
        color: var(--color-white);
        border-radius: 10px;
    }
    .header-info {
        padding: 15px 15px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .header-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: right;
    }
    .header-text a {
        font-size: 24px;
    }
    .header-image {
        display: none;
    }
    .text {
        font-size: 20px;
    }
    .text-one {
        display: none;
    }
    .text-two {
        display: none;
    }
    .text-three {
        display: block;
        color: var(--color-white);
    }
    .btn-contact {
        width: 70%;
        margin: 20px auto;
    }
    /** services*/
    .title-section h2 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin: 0 auto;
    }
    .services {
        flex-direction: column;
        padding: 50px 0;
    }
    .card-service {
        width: 50%;
        margin: 10px auto;
    }
    /*Team*/
    .team {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 90px 0px 0px 0px;
    }
    .card-team {
        width: 50%;
        border-radius: 6px;
        text-align: center;
        margin: 0 auto;
    }
    footer {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }
    .card-footer {
        width: 100%;
    }
}